*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: rgb(0, 132, 255);
    margin: auto;
    width: max-content;
    height: 100vh;
    overflow: hidden;
}
button{
    cursor: pointer;
}
/* Instructions Board */
#instructions-board{
    position: absolute;
    margin-top: 175px;
    margin-left: 50px;
    width: 600px;
    height: 500px;
    border: 0;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.76);
    animation: instrudaction-board 0.5s;
}
#instructions-title{
    margin-top: 20px;
    animation: rainbow-title 0.5s infinite;
}
#instructions-board p{
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 0px 30px;
}
#instructions-board #ip1{
    display: block;
}
#instructions-board #ip2{
    display: none;
    margin-bottom: 40px;
}
#instructions-board p em{
    color: rgb(0, 255, 200);
}
#instructions-board img{
    margin-left: 34%;
    width: 200px;
    height: 200px;
}
.instructions-buttons{
    display: flex;
}
#instructions-board button{
    border: 0;
    border-radius: 20px;
    margin-top: 70px;
    padding: 10px 30px;
}
#back-button{
    margin-left: 28%;
    visibility: hidden;
}
#done-button{
    visibility: hidden;
}
#instructions-board button:hover{
    transition: 0.3s;
    color: white;
    background-color: rgba(0, 0, 0, 0.76);
}
/* Score Board */
.score-board{
    display: flex;
    background-color: rgb(31, 31, 31);
    justify-content: space-around;
    margin-top: 50px;
    border-bottom: 5px solid rgb(26, 26, 26);
}
.score-board p{
    color: white;
    padding: 10px 0px;
}
#breakline{
    background-color: rgb(26, 26, 26);
    width: 5px;
}
/* Game Message */
.game-message-board{
    background-color: rgb(41, 41, 41);
    padding: 30px 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 5px solid rgb(26, 26, 26);
}
.game-message-board p{
    color: white;
    text-align: center;
    padding: 20px 0px;
    visibility: hidden;
}
/* Competitors Message */
.competitors-message-board{
    display: flex;
    padding: 30px 0px;
}
.competitors-message-board p{
    visibility: hidden;
    color: white;
    width: 348px;
    padding: 20px 0px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(31, 31, 31);
}
/* Tools Board */
.images-board{
    display: flex;
    height: 350px;
}
#winner{
    color: white;
    background-color: rgb(31, 31, 31);
    padding: 30px 0px;
    width: 300px;
    height: 25px;
    border: 0px;
    border-radius: 10px;
    margin-left: 32%;
    text-align: center;
    display: none;
}
/* Player Tools */
/* Rock */
@keyframes tool-move {
    0% { margin-top: 0px; }
    5% { margin-top: 20px; }
    10% { margin-top: 30px; }
    15% { margin-top: 40px; }
    20% { margin-top: 50px; }
    30% { margin-top: 10px; }
    40% { margin-top: 0px; }
}
#rock-player-image{
    margin-right: 50px;
    width: 300px;
    height: 300px;
}
#rock-player-won-image{
    margin-right: 50px;
    width: 300px;
    height: 300px;
    display: none;
}
#rock-player-lose-image{
    margin-right: 50px;
    width: 300px;
    height: 300px;
    display: none;
}
/* Paper */
#paper-player-won-image{
    margin-right: 50px;
    width: 300px;
    height: 300px;
    display: none;
}
#paper-player-lose-image{
    margin-right: 50px;
    width: 300px;
    height: 300px;
    display: none;
}
/* Scissors */
#scissors-player-won-image{
    margin-right: 50px;
    width: 300px;
    height: 300px;
    display: none;
}
#scissors-player-lose-image{
    margin-right: 50px;
    width: 300px;
    height: 300px;
    display: none;
}
/* Computer Tools */
/* Rock */
#rock-computer-image{
    margin-left: 35px;
    width: 300px;
    height: 300px;
}
#rock-computer-won-image{
    margin-left: 35px;
    width: 300px;
    height: 300px;
    display: none;
}
#rock-computer-lose-image{
    margin-left: 35px;
    width: 300px;
    height: 300px;
    display: none;
}
/* Paper */
#paper-computer-won-image{
    margin-left: 35px;
    width: 300px;
    height: 300px;
    display: none;
}
#paper-computer-lose-image{
    margin-left: 35px;
    width: 300px;
    height: 300px;
    display: none;
}
/* Scissors */
#scissors-computer-won-image{
    margin-left: 35px;
    width: 300px;
    height: 300px;
    display: none;
}
#scissors-computer-lose-image{
    margin-left: 35px;
    width: 300px;
    height: 300px;
    display: none;
}
/* Buttons */
.buttons-board{
    padding: 50px 0px;
}
.buttons-board button{
    padding: 20px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    background-color: rgb(31, 31, 31);
    width: 150px;
}
.buttons-board button:hover{
    transition: 0.3s;
    background-color: rgb(43, 43, 43);
}
#rock-button{
    margin-left: 17%;
}
/* Created By */
.created-board{
    margin-left: 41%;
}
.created-board #p1{
    margin-bottom: 5px;
    color: rgb(43, 43, 43);
    font-size: 25px;
}
.created-board #p2{
    margin-bottom: 5px;
    color: white;
    font-size: 25px;
}
.created-board a{
    text-decoration: none;
}
.created-board #p2{
    margin-bottom: 5px;
}
.created-board #p2:hover{
    transition: 0.3s;
    color: rgb(0, 255, 106);
}
/* instructions animations */
@keyframes instrudaction-board {
    from {margin-left: -500px;}
    to {margin-left: 50px;}
    0% { transform: translate(1px, 1px) rotate(0deg);  visibility: visible;}
    10% { transform: translate(-1px, -2px) rotate(-1deg); opacity: 0;}
    20% { transform: translate(-3px, 0px) rotate(1deg);}
    30% { transform: translate(3px, 2px) rotate(0deg); }
}
@keyframes rainbow-title{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}
/* Fire Work */
#firework{
    display: none;
}
  @keyframes firework {
    0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
  
  #firework,
  #firework::before,
  #firework::after
  {
    --initialSize: 0.5vmin;
    --finalSize: 45vmin;
    --particleSize: 0.2vmin;
    --color1: yellow;
    --color2: khaki;
    --color3: white;
    --color4: lime;
    --color5: gold;
    --color6: mediumseagreen;
    --y: -30vmin;
    --x: -50%;
    --initialY: 60vmin;
    content: "";
    animation: firework 2s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background: 
      
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
      
      
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
      
      /* bottom right */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
      
      /* bottom left */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
      
      /* top left */
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
      
      /* top right */
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
      ;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
  }
  
  #firework::before {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
     transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); 
    transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  #firework::after {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
    transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
    transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  #firework:nth-child(2) {
    --x: 30vmin;
  }
  
  #firework:nth-child(2),
  #firework:nth-child(2)::before,
  #firework:nth-child(2)::after {
    --color1: pink;
    --color2: violet;
    --color3: fuchsia;
    --color4: orchid;
    --color5: plum;
    --color6: lavender;  
    --finalSize: 40vmin;
    left: 30%;
    top: 60%;
    animation-delay: -0.05s;
  }
  
  #firework:nth-child(3) {
    --x: -30vmin;
    --y: -50vmin;
  }
  
  #firework:nth-child(3),
  #firework:nth-child(3)::before,
  #firework:nth-child(3)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -0.05s;
  }
  